prg3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="prg3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Arathi </xs:fname>
	<xs:lname> Shetty  </xs:lname>
	<xs:mname> U </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 717 </xs:houseno>
	<xs:streetname> Eshwara Nagar </xs:streetname>
	<xs:cityname> Parkala </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 90 </xs:marks>
   <xs:hobbies> Dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Dwani </xs:fname>
	<xs:lname> Shetty</xs:lname>
	<xs:mname> P </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 718 </xs:houseno>
	<xs:streetname> Shanthinagar </xs:streetname>
	<xs:cityname> Udupi </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 70 </xs:marks>
   <xs:hobbies> Cooking </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>